<ion-header>

  <ion-navbar>
    <ion-title>{{nameCategory}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isShow(); then category else networking">
    {{isShow()}}
  </div>

  <template #category>
    <ion-list>
      <ion-item *ngFor="let item of categoryProducts" (click)="onClickProductDetail(item.id_product, item.name)">
        <ion-thumbnail item-left>
          <img src="{{urlServe.urlPhoto + item.product_image}}">
        </ion-thumbnail>
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
        <p><strong>R$</strong> {{item.price}}</p>
      </ion-item>
    </ion-list>
  </template>

  <template #networking>
    <not-networking></not-networking>
  </template>

</ion-content>
