<ion-header>

  <ion-navbar>
    <ion-title>{{productName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isShow(); then productDetailsTemplate else networking">
    {{isShow()}}
  </div>

  <template #productDetailsTemplate>
    <div *ngFor="let item of productDetails">
      <ion-list>
        <ion-item>
          <ion-card style="width: 100%; margin: 0;">
            <img src="{{urlServe.urlPhoto + item.product_image}}" style="width: 100%;"/>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>

      <ion-item-group style="width: 100%; margin: 0;">
        <ion-item-divider color="light">{{item.name}}</ion-item-divider>
        <ion-item><p style="white-space: normal; display: block;">{{item.description}}</p></ion-item>
        <ion-item>R$ {{ item.price | number : '2.2-2' }}</ion-item>
      </ion-item-group>
      <button ion-button clear (click)="onClickProductCart(item.id_product, item.product_image, item.name, item.description, item.price, 1)">Comprar</button>
    </div>
  </template>

  <template #networking>
    <not-networking></not-networking>
  </template>
</ion-content>
