<ion-header>

  <ion-navbar>
    <ion-title>Categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isShow(); then allCategory else networking">
    {{isShow()}}
  </div>

  <template #allCategory>
    <ion-card *ngFor="let item of allCategories" (click)="onClickCategory(item.id_category, item.name)" class="secondary">
      <img class="card-img" src="{{urlServe.urlPhoto + item.icon}}"/>
      <div class="card-title">{{item.name}}</div>
    </ion-card>
  </template>

  <template #networking>
    <not-networking></not-networking>
  </template>

</ion-content>
