<ion-grid>

  <div *ngFor="let item of cartItems">
    <ion-card>
      <ion-card-header>
        {{item.cart_item_name}}
      </ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{item.cart_item_desc}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <div>Valor Unitário: R${{item.cart_item_price}}</div>
          </ion-col>
          <ion-col>
            <div>
              <button ion-fab mini color="danger" (click)="decrementProduct(item.cart_item_id)">
                <ion-icon name="remove"></ion-icon>
              </button>
            </div>
          </ion-col>
          <div style="margin: auto">
            {{item.cart_item_quantity}}
          </div>
          <ion-col>
            <div>
              <button ion-fab mini color="button-add-item" class="center" (click)="incrementProduct(item.cart_item_id)">
                <ion-icon name="add"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-header>
      Total do pedido
    </ion-card-header>

    <ion-card-content>
      <div>
        <p>Total ( {{cart.totalAquantity}} ) =
          <strong>R$ {{ cart.totalAmount | number : '2.2-2' }}</strong>
        </p>
      </div>
    </ion-card-content>
  </ion-card>

</ion-grid>



<ion-footer>
  <button ion-button full class="full-button" (click)="onVerifyCode()" >Prosseguir com a compra</button>
</ion-footer>


