<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="onClickSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isShow(); then home else networking">
    {{isShow()}}
  </div>

  <template #home>
    <div>
      <ion-slides>
        <ion-slide *ngFor="let slide of response">
          <ion-card>
            <img class="center-image"
                 src="{{urlServe.urlPhoto + slide.icon}}" (click)="onClickCategory(slide.id_category, slide.name)"/>
            <ion-card-content>
              <ion-card-title>
                {{slide.name}}
              </ion-card-title>
              <p>
                {{slide.description}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <products-home></products-home>
  </template>

  <template #networking>
    <not-networking></not-networking>
  </template>
</ion-content>
