products-home {

  .card-background-page {


    .card-title {
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #db9115;
      margin: 5px;
      text-align: center;
    }

  }

  .center-image{
    margin:0 auto;
  }

}
