<!-- Generated template for the PaymentFormDeliveryComponent component -->
<ion-content>
  <form [formGroup]="finishPayment">

    <ion-card s>

      <ion-card-header>
        Informações de pagamento
      </ion-card-header>

        <ion-list>
          <ion-item>
            <img src="assets/icon/ic_banner_bandeiras.png">
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>Número do cartão</ion-label>
            <ion-input type="text" name="number" formControlName="numberCard" [(ngModel)]="card.numberCard"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>Nome do titular do cartão</ion-label>
            <ion-input type="text" name="name" formControlName="name"  class="list-input-space" [(ngModel)]="card.name"></ion-input>
          </ion-item>

          <ion-grid style="margin: 0 0 0 0">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label color="primary" stacked class="list-input-space">Mês</ion-label>
                  <ion-datetime displayFormat="YY" min="2001" max="2012" formControlName="month"
                                [(ngModel)]="card.month"></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label color="primary" stacked>Ano</ion-label>
                  <ion-datetime displayFormat="YYYY" formControlName="year" max="2030" [(ngModel)]="card.year"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item>
            <ion-label color="primary" stacked>CVV</ion-label>
            <ion-input type="text" name="cvv" formControlName="cvv" [(ngModel)]="card.cvv"></ion-input>
          </ion-item>

        </ion-list>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item-divider color="light">Endereço de entrega</ion-item-divider>

        <ion-item>
          <ion-label floating>
            Rua
          </ion-label>
          <ion-input type="text" name="street" formControlName="street" [(ngModel)]="details.street"
                     [disabled]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            N°
          </ion-label>
          <ion-input type="text" name="number" formControlName="number" [(ngModel)]="details.number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            Bairro
          </ion-label>
          <ion-input type="text" name="neighborhood" formControlName="neighborhood"
                     [(ngModel)]="details.neighborhood" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            CEP
          </ion-label>
          <ion-input type="text" name="code" formControlName="code" [(ngModel)]="details.code"
                     [disabled]="true"></ion-input>
        </ion-item>
      </ion-list>
      <br>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon name="cart"></ion-icon>
        Pedido
      </ion-card-header>
      <ion-card-content>

        <p>Total</p>
        <strong style="color: #0d860d">R$ {{ cart.totalAmount | number : '2.2-2' }}</strong>

        <div style="height: 5vw"></div>

        <ion-list>
          <strong>Itens do pedido</strong>
          <ion-item *ngFor="let items of shoppingCart">
            {{items.cart_item_name}} x{{items.cart_item_quantity}}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>

<ion-footer>
  <button ion-button full class="full-button round-border-button" color="butto-login" type="submit"
          (click)="onClickFinishPayment()" [disabled]="!finishPayment.valid">
    Realizar compra
  </button>
</ion-footer>
